<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>无线设备</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>有线设备</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
