<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>左A柱</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>左B柱</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>title</key>
		<string>左C柱</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>title</key>
		<string>右A柱</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>title</key>
		<string>右B柱</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>title</key>
		<string>右C柱</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>title</key>
		<string>左纵梁</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>title</key>
		<string>右纵梁</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>title</key>
		<string>左减震器悬挂部位</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>title</key>
		<string>有减震器悬挂部位</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
