<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>title</key>
		<string>倒车影像</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>title</key>
		<string>大灯清洗</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>title</key>
		<string>安全气囊</string>
		<key>subTitle</key>
		<string></string>
		<key>isSelected</key>
		<false/>
		<key>input</key>
		<string></string>
		<key>inputPlaceHolder</key>
		<string>请输入气囊数量(个)</string>
		<key>isTextFied</key>
		<true/>
	</dict>
</array>
</plist>
